/* Estilos Gerais */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f9f3e7;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container Principal */
.container {
    width: 960px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    background-color: #f0f8ff;
    outline: none;
    border-color: #00bfff;
}

table td {
    margin: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table {
    text-align: center;
    size: 400px;
    margin: auto;
}

/* Cabeçalho e Navegação */
header {
    background-color: #f8c471;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #4b382a;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none; /* A propriedade decoration permite adicionar decorações extras são adicionadas às linhas de texto */
    color: #4b382a;
}

nav ul li a:hover {
    color: #333;
}

/* Seção Principal */
section {
    margin-top: 20px;
}

table img {
    border-radius: 25px;
    max-width: 200px;
    width: 100%;
}

#banner-image {
    max-width: 960px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

article h2 {
    color: #4b382a;
    margin-top: 20px;
}

article p {
    line-height: 1.6;
}

article a {
    color: #c0392b;
    text-decoration: none; /* A propriedade decoration permite adicionar decorações extras são adicionadas às linhas de texto */
}

article a:hover {
    text-decoration: underline; /* A propriedade decoration permite adicionar decorações extras são adicionadas às linhas de texto  */
}

/* Rodapé */
footer {
    background-color: #f8c471;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
    color: #4b382a;
}
